@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --figtree-24px-extra-bold: 800 1.5rem/150% "Figtree", serif;
  --figtree-16px-medium: 500 1rem/150% "Figtree", serif;
  --figtree-14px-medium: 500 0.875rem/150% "Figtree", serif;
  --figtree-14px-extra-bold: 800 0.875rem/150% "Figtree", serif;
}

html {
  font-size: 16px;
}

@media (width <= 300px) {
  html {
    font-size: 14px;
  }
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--yellow);
}

img {
  border-radius: 10px;
}

p {
  font: var(--figtree-16px-medium);
  color: var(--gray-500);
}

h2 a {
  font: var(--figtree-24px-extra-bold);
  text-decoration: none;
  color: var(--gray-950);
}

h2 a:hover {
  color: var(--yellow);
  cursor: pointer;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 384px;
  padding: 24px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.blog-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tags-container {
  display: flex;
  gap: 5px;
}

.tag {
  padding: 4px 12px;
  border-radius: 4px;
  font: var(--figtree-14px-extra-bold);
}

.catagory-tag {
  background-color: var(--yellow);
}

.tech-tag {
  background-color: var(--gray-950);
  color: white;
}

.author-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  max-width: 30px;
}

.date {
  font: var(--figtree-14px-medium);
}

.name {
  font: var(--figtree-14px-extra-bold);
}

.date,
.name {
  color: var(--gray-950);
}
